


.cuerpo2{

    margin: auto;
    width: auto;
    height: auto;
    text-align: center;
    background: rgb(219, 153, 106);

 }





.e1{

    background: url("../img/telefonos/1.png");
    background-size: cover;
    background-position: center;
    margin: auto;
    width: 25vh;
    height: 35vh;

   
}



.e2{

    background: url("../img/telefonos/2.png");
    background-size: cover;
    background-position: center;
    margin: auto;
    width: 25vh;
    height: 35vh;
   
   
}




.e3{

    background: url("../img/telefonos/3.png");
    background-size: cover;
    background-position: center;
    margin: auto;
    width: 25vh;
    height: 35vh;
   
   
}



.e4{

    background: url("../img/telefonos/4.png");
    background-size: cover;
    background-position: center;
    margin: auto;
    width: 25vh;
    height: 35vh;
  
   
}

.e5{

    background: url("../img/telefonos/5.png");
    background-size: cover;
    background-position: center;
    margin: auto;
    width: 25vh;
    height: 35vh;
   
   
}

.e6{

    background: url("../img/telefonos/6.png");
    background-size: cover;
    background-position: center;
    margin: auto;
    width: 25vh;
    height: 35vh;
  
   
}

.e7{

    background: url("../img/telefonos/7.png");
    background-size: cover;
    background-position: center;
    margin: auto;
    width: 25vh;
    height: 35vh;
    
   
}

.e8{

    background: url("../img/telefonos/8.png");
    background-size: cover;
    background-position: center;
    margin: auto;
    width: 25vh;
    height: 35vh;
 
   
}

  
 

        
        